 <div class="sidebar">
<div class="sidebar-content card d-none d-lg-block border-0" >
  <div class="card ">
    <div class="card-body p-0">
      <div class="p-1 d-flex justify-content-between align-items-center border-bottom border-secondary">
      <h6 class="card-title">Top Offering</h6>
      <h5>90% 🡅</h5>
      </div>
      <img src="../../assets/2022_10_14_08_08_03_Front_End_Dev_exam.pdf_and_26_more_pages_Personal_Microsoft_Edge.png" width="100%"class="" alt="...">
      <p class="card-text p-1"><small>iDrop! 25% off to all Mac Devices</small></p>
    </div>
  </div>
  <div class="card ">
    <div class="card-body p-0">
      <div class="p-1 d-flex justify-content-between align-items-center border-bottom border-secondary">
      <h6 class="card-title b">Least Offering</h6>
      <h5>20% &#x21cA;</h5>
      </div>
      <img src="../../assets/2022_10_14_08_34_05_Front_End_Dev_exam.pdf_and_26_more_pages_Personal_Microsoft_Edge.jpg" width="100%"class="" alt="...">
      <p class="card-text p-1"><small>Zipper Pocket Leather Handbag</small></p>
    </div>
  </div>
  <div class="card ">
    <div class="card-body p-0">
      <div class="p-1 d-flex justify-content-center align-items-center border-bottom border-secondary">
      <h6 class="card-title b">Top Key Words & Category</h6>
      </div>
      <app-tooltip></app-tooltip>
      <p class="card-text p-1"><small></small></p>
    </div>
  </div>
</div>
</div>
