<div class=" column d-flex justify-content-between p-2">
  <div class="header">
    <h1>e-Products professional</h1>
    <a href="#" class="link">view profile</a>
  </div>
  <div class="btn-group align-items-center">
    <button type="button" class="btn d-flex align-items-center" data-bs-toggle="dropdown" aria-expanded="false"><img src="../../assets/2022_10_13_16_14_21_Front_End_Dev_exam.pdf_Personal_Microsoft_Edge.png" width=50 alt="">
      <div class="pt-3">
      <h6>Samuel Lucas</h6>
      <p>Branch Manager</p>
      </div>
    </button>
    <button class="dropdown dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>
</div>

