
  <div class="d-flex align-items-center justify-content-between">
    <div class="m-2"> 
      <div class="d-flex">
      <p style="font-size:10px;" data-bs-toggle="tooltip" data-bs-placement="top" title="100m User">Technology</p>
      <p style="font-size:15px;" data-bs-toggle="tooltip" data-bs-placement="top" title="10m User">Users</p>
      <p style="font-size:12px;"data-bs-toggle="tooltip" data-bs-placement="top" title="90m User">Web design</p>
      <p style="font-size:8px;" data-bs-toggle="tooltip" data-bs-placement="top" title="20m User">Webdev</p>
 
    </div>
    <div class="d-flex ">
      <p style="font-size:10px;" data-bs-toggle="tooltip" data-bs-placement="top" title="13m User">Wireframe</p>
      <p style="font-size:12px;"data-bs-toggle="tooltip" data-bs-placement="top" title="40m User">Angular</p>
      <p style="font-size:18px;" data-bs-toggle="tooltip" data-bs-placement="top" title="120m User">tutorial</p>
      <p style="font-size:12px;" data-bs-toggle="tooltip" data-bs-placement="top" title="1m User">Laravel</p>

    </div>
    <div class="d-flex ">
      <p style="font-size:12px;" data-bs-toggle="tooltip" data-bs-placement="top" title="30m User">Php</p>
      <p style="font-size:18px;" data-bs-toggle="tooltip" data-bs-placement="top" title="8m User">design</p>
      <p style="font-size:10px;" data-bs-toggle="tooltip" data-bs-placement="top" title="4m User">writing</p>
   
      <p style="font-size:12px;" data-bs-toggle="tooltip" data-bs-placement="top" title="90m User">visualization</p>
    </div>
  </div>

<script>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
 