
footer{
  display:contents;
 

  .container h4{
    color: #532566;
    font-size: 18px;
  
  }
  .container{
    align-items: center;
    background-color: #e9ecf1;
    margin: 0;
    max-width: 100%;
  }
}

