<section class="breadcrum">
    <div class="breadcrum1 d-flex">
      <div class=" d-flex">
        <div class="icon home">
            <i class="fas fa-home-alt img"></i>
        </div>
        <div class="icon">
          <a href="../dashboard">Home</a> / <a href="../dashboard">Dashboard</a>
        </div>
     </div>
     <div class="icon location d-flex">
        <button class="button"> Create new offer</button>
        <i class="fas fa-map-marker-alt img"></i>
     </div>
    </div>
</section>
<section class="px-3 dashbord-body ">
 <div class="body-con">  
    <h5 class="pt-2">Welcome to your Dashboard</h5>
    <div>
    <div class="content-left">
        <div class="card-group d-flex px-0 ">
            <div class="card border-0">
                <div class="row g-2 row-cols-1 row-cols-md-2">
                  <div class="col-md-6 d-flex justify-content-between ">
                    <div class="card-body border border-end-0 px-1 pt-0">
                        <h1 class="card-title text-center">100m</h1>
                        <p class="card-text"><span class=" icon-up rounded-1"style=" font-size:20px; ">🡅</span> <span style="font-size:18px; padding-left: 10px;">95%</span>Last updated 3 mins ago</p>
                      </div>
                      <div class=" orange m-0  pt-3">
                        <h4 class="card-title">Total<br />
                            Reach</h4>
                            <p class="card-text">within 10km</p>
                      </div>
                  </div>
                  
                  <div class="col-md-6 d-flex">
                    <div class="card-body border border-end-0 px-1 pt-0">
                        <h1 class="card-title text-center ">0</h1>
                        <p class="card-text"><span class="icon-up rounded-1"style="font-size:20px;">🡅</span> <span style="font-size:18px; padding-left: 10px;">95%</span>Last updated 3 mins ago</p>
                      </div>
                      <div class=" orange pt-3 ">
                        <h4 class="card-title">Total<br />
                            Reach</h4>
                            <p class="card-text">within 10km</p>
                      </div>
                  </div>
                  
                </div>
              </div>

        </div>
        <div class="card border rounded-0 mb-3" style="max-width: 100;">
          <div class="card-header bg-transparent border"><h4>User and Reach statistic</h4></div>
          <div class="card-body text">
            <app-line-chart></app-line-chart>
          </div>
          <div class="card-footer bg-transparent border">Footer</div>
        </div>
        <div class="card-group section3">
          <div class="card border-4 ">
            <img src="../../assets/2022_10_14_12_32_59_Front_End_Dev_exam.pdf_and_27_more_pages_Personal_Microsoft_Edge.png" width="100"class="card-img-top"  alt="...">
            <div class="card-body pink">
              <h5 class="card-title">Delete Offering</h5>
            </div>
          </div>
          <div class="card mx-3">
            <img src="../../assets/2022_10_14_12_33_34_Front_End_Dev_exam.pdf_and_27_more_pages_Personal_Microsoft_Edge.png" class="card-img-top" alt="...">
            <div class="card-body orange1">
              <h5 class="card-title border-4 ">Favorite Offering</h5>
            </div>
          </div>
          <div class="card">
            <img src="../../assets/2022_10_14_12_33_56_Front_End_Dev_exam.pdf_and_27_more_pages_Personal_Microsoft_Edge.png" class="card-img-top" alt="...">
            <div class="card-body blue">
              <h5 class="card-title">Shared Offering</h5>
            </div>
          </div>
        </div>
         <div class="card-group section3" style="margin-bottom:100px ;">
          <div class="card border-4 ">
            <img src="../../assets/2022_10_14_12_34_21_Front_End_Dev_exam.pdf_and_27_more_pages_Personal_Microsoft_Edge.png" width="100"class="card-img-top"  alt="...">
            <div class="card-body violet">
              <h5 class="card-title">Bought Offering</h5>
            </div>
          </div>
          <div class="card mx-3">
            <img src="../../assets/2022_10_14_12_34_42_Front_End_Dev_exam.pdf_and_27_more_pages_Personal_Microsoft_Edge.jpg" class="card-img-top" alt="...">
            <div class="card-body lorange">
              <h5 class="card-title border-4 ">Opened Offering</h5>
            </div>
          </div>
          <div class="card">
            <img src="../../assets/opened.png" class="card-img-top" alt="...">
            <div class="card-body lgreen">
              <h5 class="card-title">Link Offering</h5>
            </div>
          </div>
        </div>
          
    </div>
    <div class="sidebar-right">
    <app-sidebar></app-sidebar>
    </div>
</div>
</div> 
</section>
<app-footer></app-footer>
  